.features {
  background-color: var(--main-bg-color);

  .features_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .features_container-heading {
      text-align: center;

      h4 {
        color: var(--grey-color);
        letter-spacing: 2px;
        font-weight: 400;
        margin-top: 80px;
        font-size: 20px;
      }

      h1 {
        color: var(--main-color);
        font-size: 50px;

        @media screen and (max-width: 768px) {
          font-size: 2.2em;
        }
      }
    }

    .features_container-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 4rem 8rem;
      gap: 5rem;

      .card {
        width: 600px;
        height: 200px;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-right: 10px;
        transition: 0.5s all ease-in-out;
        background: var(--main-bg-color);
        box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px rgb(255, 255, 255);
        border-radius: 10px;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

        &:hover {
          background: #fff;
          cursor: pointer;
          transform: translateY(-10px);
          box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #cbcbcb;
        }

        .card_image {
          width: 200px;
          height: 200px;

          img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .card_content {
          display: flex;
          flex-direction: column;

          hr {
            display: none;
          }

          h2 {
            color: var(--main-color);
            font-size: 1.2em;
          }

          p {
            font-size: 0.85em;
            margin: 10px 0;
            color: var(--grey-color);
          }

          span {
            font-size: 0.95em;
            color: var(--secondary-bg-color);
          }
        }

        @media screen and (max-width: 768px) {
          width: 400px;
          height: 110px;
          
          .card_image {
            width: 110px;
            height: 110px;

            img {
              width: 110px;
              height: 110px;
            }
          }

          .card_content {
            display: flex;
            flex-direction: column;
  
            hr {
              display: none;
            }
  
            h2 {
              color: var(--main-color);
              font-size: 0.8em;
            }
  
            p {
              font-size: 0.55em;
              margin: 10px 0;
              color: var(--grey-color);
            }
  
            span {
              font-size: 0.7em;
              color: var(--secondary-bg-color);
            }
          }
        }
      }
    
      @media screen and (max-width: 1534px) {
        margin: 0rem;
        margin-top: 4rem;
      }
    }  
    
  }
}