.card_resume {
    padding: 10px;
    margin-bottom: 40px;
    position: relative;
    width: 50%;
    background: var(--main-bg-color);
    // box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px rgb(255, 255, 255);
    border-radius: 10px;

    .card_resume-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

            h3 {
                font-size: 1em;
                margin-bottom: 0.5rem;
            }

            span {
                font-size: 0.85em; 
            }
    }
}